@import "tailwindcss";

@font-face {
  font-family: 'Fleur';
  src: url('/font/FleurDeLeah-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Luxurious';
  src: url('/font/LuxuriousScript-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Niconne';
  src: url('/font/Niconne-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}